# Ignore build outputs anywhere in the repo
**/bin/
**/obj/
**/Debug/
**/Release/


# SQLite temp files
*.db-shm
*.db-wal
*.db-journal

# Rider / VSCode / DotNet tools
.idea/
.vscode/
**/*.db
EFCore/mydb.db
EFCore.sln.DotSettings.user
EFCore/db.mydb
